@use 'variables';

.hero {
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../assets/hero-bg.webp') center/cover no-repeat;

	&__overlay {
		position: absolute;
		inset: 0;
		background: variables.$overlay;
		z-index: 1;
	}

	&__content {
		position: relative;
		z-index: 2;
		max-width: 600px;
		margin: auto;
		text-align: center;
	}

	&__title {
		font-family: variables.$font-titles;
		font-size: 3.2rem;
		color: variables.$secondary;
		margin: 0 0 1.5rem 0;
		letter-spacing: 3px;
		text-shadow: 0 4px 24px rgba(0, 0, 0, 0.14);
	}

	&__desc {
		font-size: 1.4rem;
		font-weight: 400;
		color: variables.$detail;
		margin-bottom: 2.5rem;
		text-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
	}

	&__countdown {
		display: flex;
		justify-content: center;
		gap: 2rem;
		font-family: variables.$font-titles;
		font-size: 2rem;
		color: variables.$secondary;
		background: rgba(67, 56, 202, 0.2);
		padding: 1.2rem 2rem;
		border-radius: 18px;
		box-shadow: 0 8px 32px rgba(variables.$primary, 0.18);
		letter-spacing: 2px;
	}

	@media (max-width: 900px) {
		&__content {
			max-width: 90%;
		}

		&__title {
			font-size: 2.2rem;
		}

		&__desc {
			font-size: 1.1rem;
		}
	}

	@media (max-width: 767px) {
		min-height: 80vh;

		&__title {
			font-size: 1.3rem;
		}

		&__desc {
			font-size: 1rem;
		}

		&__countdown {
			font-size: 1.2rem;
			padding: 0.8rem 1.1rem;
		}
	}
}
