// Paleta de cores
$primary: #4338ca;
$secondary: #f59e42;
$bg: #10172a;
$overlay: rgba(16, 23, 42, 0.75);
$text: #fff;
$detail: #efe7da;

// Font Family
$font-titles: 'Montserrat', sans-serif;
$font-text: 'Inter', sans-serif;
